@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@100&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #000;
    padding: 1rem;
}

nav .name, .inicio{
    text-decoration: none;
    color: lightgray;
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 5px;
    transition: all 0.3s ease-in-out

}

nav .name:hover{
    background-color: #fff;
    color: #000;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background-color: lightgrey;
}

